/************* RESPONSIVE FOR EXTRA LARGE DEVICE**************/
/* @media screen and (min-width: 1200px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
} */

/************* RESPONSIVE FOR LAPTOP AND MEDIUM DEVICE**************/
@media screen and (max-width: 1024px) {
  .section-we-are-gammer-title {
    font-size: 3rem;
  }
  .section-we-are-gammer-column-text h4 {
    font-size: 1.7rem;
  }
  .section-online-game-item .card h3 {
    font-size: 1.4rem;
  }
}

/************* RESPONSIVE FOR TABLET AND MEDIUM DEVICE**************/
@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
  }

  .banner-section-container {
    flex-direction: column-reverse;
  }

  .banner-section-column {
    flex-basis: 100%;
  }

  .banner-section-column-text {
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
  }
  .banner-section-title-secondary,
  .banner-section-title-primary {
    text-align: center;
  }

  .section-we-are-gammer-column-text,
  .section-we-are-gammer-column-img {
    width: 48.5%;
  }

  .section-online-game-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-online-game-item .card .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateX(0px);
  }

  .section-online-game-item .card h3 {
    font-size: 1.6rem;
  }

  .section-title-box .section-description {
    width: 100%;
  }

  .section-online-game-item .card .card-img-box img {
    filter: brightness(130%);
  }

  .section-play-game-container {
    flex-direction: column;
  }

  .section-play-game-column-text,
  .section-play-game-column-img {
    width: 100%;
  }
  .section-play-game-column-img {
    text-align: center;
  }

  .section-play-game-column-img .section-play-game-banner-img {
    width: 80%;
    margin: 0 auto;
  }

  .section-play-game-column-img .section-play-game-banner-sub-img {
    width: 30%;
    height: 40%;
    position: absolute;
    left: -1rem;
    bottom: -4rem;
  }

  .section-play-game-column-text,
  .text-align-left {
    text-align: center;
    padding: 0;
  }

  .section-play-game-column-text .section-description,
  .text-align-left,
  .section-description {
    width: 100%;
    margin: 0;
  }
  .section-play-game-column-img .position-right {
    width: 30%;
    height: 40%;
    position: absolute;
    right: -1rem;
    bottom: -4rem;
  }

  .section-careers-container {
    flex-direction: column;
  }

  .section-careers-column-text,
  .section-careers-column-img {
    width: 100%;
  }
}

/************* RESPONSIVE FOR TABLET DEVICE**************/
@media screen and (max-width: 768px) {
  .section-we-are-gammer-container {
    flex-direction: column;
    gap: 6rem;
  }
  .section-we-are-gammer-column-text,
  .section-we-are-gammer-column-img {
    width: 100%;
  }

  .section-we-are-gammer-column-text {
    text-align: center;
  }
}

/************* RESPONSIVE FOR MOBILE DEVICE**************/
@media screen and (max-width: 576px) {
  html {
    font-size: 56%;
  }
  .container {
    max-width: 100%;
    padding: 0 1.5rem;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0;
  }

  nav .main-menu ul {
    flex-direction: column;
    gap: 2rem;
  }
  nav .main-menu {
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
  }

  .banner-section-container {
    flex-direction: column-reverse;
  }

  .banner-section-column {
    flex-basis: 100%;
  }

  .banner-section-column-text {
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .banner-section-title-secondary {
    font-size: 2.5rem;
  }
  .banner-section-title-primary {
    font-size: 4rem;
  }
  .banner-section-title-secondary,
  .banner-section-title-primary {
    text-align: center;
  }

  .btn-secondary {
    margin-left: 1rem;
  }

  .btn {
    padding: 1.5rem 3rem;
  }

  .banner-section {
    padding-bottom: 3rem;
  }

  .section-online-game-container {
    grid-template-columns: 1fr;
  }

  .section-online-game-item .card .overlay {
    transform: translateX(0px);
    background-color: rgba(0, 0, 0, 0.7);
  }

  .section-online-game-item .card .card-img-box img {
    filter: brightness(130%);
  }

  .section-online-game-item .card h3 {
    font-size: 1.6rem;
  }

  .section-play-game-container {
    flex-direction: column;
  }

  .section-play-game-column-text,
  .section-play-game-column-img {
    width: 100%;
  }
  .section-play-game-column-img {
    text-align: center;
  }

  .section-play-game-column-img .section-play-game-banner-img {
    width: 80%;
    margin: 0 auto;
  }

  .section-play-game-column-img .section-play-game-banner-sub-img {
    width: 30%;
    height: 40%;
    position: absolute;
    left: -1rem;
    bottom: -4rem;
  }

  .section-play-game-column-text {
    text-align: center;
    padding: 0;
  }

  .text-align-left {
    text-align: center !important;
    padding: 0;
  }

  .section-play-game-column-text .section-description,
  .text-align-left .section-description {
    width: 100%;
    margin: 0;
  }

  .section-play-game-column-img .position-right {
    width: 30%;
    height: 40%;
    position: absolute;
    right: -1rem;
    bottom: -4rem;
  }

  .section-careers-container {
    flex-direction: column;
  }

  .section-careers-column-text,
  .section-careers-column-img {
    width: 100%;
  }

  .section-careers-list li {
    padding: 0;
    font-size: 1.4rem;
  }

  .section-careers-column-text {
    padding: 0;
  }

  .section-title {
    font-size: 2.8rem;
  }

  .section-all-game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-all-game-item img {
    height: 3rem;
    width: 3rem;
  }
  .section-all-game-item a:link,
  .section-all-game-item a:visited {
    font-size: 1.1rem;
  }
}
