/* FONT FAMILY WORK SANS Inknut Antiqua */
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@500;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #ff42a5;
  --text-linear-gradient: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --font-color-primary: #0b0223;
  --paragraph-color: #534c64;
  --heder-background: #ede4ff;
  --primary-font: "Work Sans", sans-serif, system-ui;
  --heading-font: "Inknut Antiqua", serif;
}

/************** RESET STYLING START*****************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-size: 62.5%;
  font-weight: 400;
}

body {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/************** RESET STYLING END*****************/

/************** REUSE STYLING START*****************/
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.border-red {
  border: 2px solid red;
}

.border-green {
  border: 2px solid green;
}
/************** REUSE STYLING END*****************/

/************** NAVBAR STYLING START*****************/
nav {
  min-height: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo .logo-2 {
  height: 4rem;
  margin-left: 0.4rem;
}

nav .main-menu {
  display: flex;
  margin-top: 0.6rem;
}

nav .main-menu ul {
  display: flex;
  align-items: center;
}

nav .main-menu ul li {
  margin-right: 3rem;
}

nav .main-menu ul li a:link,
a:visited {
  color: #3c354f;
  font-size: 1.8rem;
  font-weight: 500;
}

nav .main-menu .main-menu-icon-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  padding: 0.9rem 2rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

nav .main-menu .main-menu-icon-box .main-menu-icon {
  /* font-size: 2rem; */
  display: inline-block;
  margin-top: 0.5rem;
}

.main-menu-icon-box .main-menu-icon .bxl-youtube {
  color: #ff0000;
  font-size: 3rem;
}

.main-menu-icon-box .main-menu-icon .bxl-facebook-square {
  color: #097eeb;
  font-size: 3rem;
}
/************** NAVBAR STYLING END*****************/

/************** HEDER STYLING START*****************/
header {
  background-color: var(--heder-background);
}
/************** HEADER STYLING END*****************/
